name: Build QMK firmware
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/qmk/qmk_cli

    steps:
      - name: Disable git safe directory checks
        run: git config --global --add safe.directory '*'

      - name: Checkout QMK
        uses: actions/checkout@v3
        with:
          repository: qmk/qmk_firmware
          submodules: recursive
          path: ./qmk_firmware/

      - name: Checkout userspace
        uses: actions/checkout@v3
        with:
          path: ./config/

      - name: Copy keyboard to QMK keyboards folder
        run: cp -r ./config/3w6_rgb ./qmk_firmware/keyboards/3w6_rgb

      - name: Build firmware
        working-directory: ./qmk_firmware/
        run: qmk compile -kb 3w6_rgb -km default

      - name: Archive firmware
        uses: actions/upload-artifact@v3
        continue-on-error: true
        with:
          name: firmware
          path: |
            ./qmk_firmware/3w6_rgb_default.uf2
